# Compiled Object files
*.slo
*.lo
*.o
*.d
*.res

# Compiled Static libraries
*.lai
*.la

# Compiled executables
magichexagon
magichexagon.exe

# program output
gmon.out

# Resources
*.xcf
creation stuff/*
*.blend*
