# Compiled Object files
*.slo
*.lo
*.o
*.d
*.res

# Compiled Static libraries
*.lai
*.la

# Compiled executables
magichexagon_32
magichexagon_64
magichexagon_mac
magichexagon_macppc
magichexagon.exe

# program output
gmon.out

# Resources
*.xcf
creation stuff/*
*.blend*
magichexagon.app/Contents/MacOS/res
